<app-modal-layout [modalTitle]="'Добавьте заметку'" (onSave)="save()">
  <mat-dialog-content [formGroup]="noteGroupForm">
    <mat-form-field>
      <mat-label>{{ 'Заголовок' }}</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Тэг' }}</mat-label>
      <mat-select formControlName="tags" multiple>
        <ng-container *ngFor="let tags of tagsService.tags$ | async ">
          <mat-option [value]="tags">{{ tags.title }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Содержание' }}</mat-label>
      <textarea formControlName="content" matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>
</app-modal-layout>
